<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matanmi.project"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:name="com.matanmi.project.util.Init"
        android:allowBackup="true"
        android:icon="@drawable/logo_m"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Splash screen -->
        <activity
            android:name="com.matanmi.project.view.SplashScreen"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="unspecified"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main activity -->
        <activity
            android:name="com.matanmi.project.view.MainActivity"
            android:label="@string/app_name" />
        <activity android:name="com.matanmi.project.view.login.LoginActivity" />
        <activity android:name="com.matanmi.project.view.register.RegisterActivity" />
        <activity android:name="com.matanmi.project.BaseActivity" />
    </application>

</manifest>
